{% extends 'base.html' %}
{% block title %}Home{%endblock title%}
{% block css %}
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

{% endblock css %}
{% block body %}
{% load static %}
<style>
  body{
    background-color:#C5C5C5;
  }
  h1 {
    text-align: center;
    color: orange;
  }
  .subhead{
    background-color: #696969;
   
  }
  h2{
    color: #9CCA84;
    
  }
 
  .fill{
    background-color: green;
    text-color: white;
  }
  .card{
    margin-top:10%;
    background-color:#696969;
  }
</style>
{% if user.is_authenticated %}
<div class="subhead">
<h1><b><u> WELCOME TO MQR </b></u></h1>
<br> 
<br>
<h2><b> CLICK ON THE BELOW BUTTONS TO CRETATE OR READ QR <b> </h2>
</div>
   <div class="flex">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <button type="button" class="fill"> <a class='link' href="/create" style="color:white;"><b>CREATE</b></a> </button>
        <h4 style="color: orange;"> FILL IN THE REQUIRED INFORMATION TO CREATE A QR</h4>
      </div>
    </div>
  
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <button type="button" class="fill"> <a class='link' href="/read"style="color:white;"><b>READ</b></a> </button>
          <h4 style="color: orange;"> ULOAD OR SCAN A QR TO READ ITS INFORMATION</h4>
        </div>
      </div>
   </div>
{% else %}
   <h1 style="color: black;">Please login to use service</h1>

{%endif%}
<script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element) => {
    element.innerHTML = element.innerText;
  });
</script>
{% endblock body %}
